body{
    background-color:gainsboro;
}
.checkboxes {
    padding-left: 70px;
}
.pic {
    position: relative;
    width: 1px;
    height: 0.5px;
    top: 35px;
}
.textcolor{
    position: relative;
    left: 150px;
    bottom: 68px;
}
.blackframe{
    position: relative;
    width: 50px;
    height: 22px;
    top: 45px;
    right: 108px;
    background-color: black;
}
.whiteframe{
    position: relative;
    width: 50px;
    height: 22px;
    top: 18px;
    right: 50px;
    border: 1;
    background-color:white;

}
.blueframe{
    position: relative;
    width: 50px;
    height: 22px;
    top: 72px;
    right: 166px;
    background-color: blue;
}
